@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  overflow: hidden;

  .hero-content {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    column-gap: 80px;

    @include mobile {
      flex-direction: column;
      padding: 20px;
    }

    .text-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      
      @include mobile {
        width: 100%;
        height: auto;
        text-align: left;
        gap: 4vh;
        z-index: 100;
      }

      h2, h1 {
        
        font-size: 56px;

        @include mobile {
          
          text-align: left;
          font-size: 4vh;
        }
      }

      h2 {
        color: orange;
        letter-spacing: 10px;
        font-size: 48px;
      }

      .buttons {
        display: flex;
        gap: 20px;

        @include mobile {
          flex-direction: row;
          align-items: center;
          margin: auto;
          
        }

        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          cursor: pointer;
          font-weight: 300;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: white;
            color: #0c0c1d;
          }

          @include mobile {
            padding: 15px;
          }
        }
      }

      img {
        width: 50px;
        
        @include mobile {
          align-self: center;
        }
      }
    }
    .carousel-container {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
  
      @include mobile {
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: end;
      }
    }
  }

  .sliding-text-container {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    pointer-events: none;
        z-index: 0;

    @include mobile {
      font-size: 25vh;
      top: 30vh;
    }
  }


}