@import "../../../app.scss";

.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  align-items: center;

  &-images {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;

    &.active {
      opacity: 1;
      z-index: 1;
    }
  }

  .dots-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .dots {
    display: flex;
    gap: 10px;
  }

  .dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}

@include mobile {
  .carousel {
    height: 40vh;
  }
}